.level1{
      height: 86px;
      width:  86px;
      border: 1px solid white;
      position: relative;
      border-radius: 50%;
    }
    .level2{
      height: 86px;
      width: 86px;
      position: relative;
    }
    .level3{
      font-size: 45px;
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
      .animate{
          animation-name: fade;
          animation-iteration-count: infinite;
          animation-duration: 5s;
      }
    @keyframes fade{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
